* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    min-width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 998;
    margin-bottom: 100px;
    padding: 10px;
    background-color: white;
}

/* Dropdown menu  */

#bell {
    margin-right: 10px;
    color: rgb(145, 145, 10);
}

/* Stili della NAV  */

#top-nav {
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    color: grey;
}

#logo img{
    max-width: 80px;
    height: 80px;
    
}

#search-bar {
    margin: auto;
    flex-basis: 50%;
    padding-left: 5px;
    padding-right: 5px;
}

#search-bar form {
    width: 100%;
}
#search {
    background-color: rgb(233, 233, 233);
    width: 90%;
    height: 40px;
    border-radius: 5px;
}


.ghost-icons {
    display: none;
}

@media all and (min-width:1068px) {
    .ghost-icons {
        display: flex;
        color: rgb(61, 61, 61);
        flex-basis: 10%;
        padding-left: 5px;
        padding-right: 5px;
    }

    .ghost-icons i {
        padding-left: 5px;
        padding-right: 5px; 
    }
}

#cont-supreme {
    margin-top: 100px;
    margin-left: 0;
    display: flex;
    max-height: 100vh;
    
}

/* Stili di Nav-right  */

#nav-right {
    width: 60px;
    box-sizing: border-box;
    background-color: rgb(13, 13, 51);
    background-image: url("../img/sidebar-bg.png");
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    font-size: 14px;
    padding: 1rem;

}

.section{
    display: flex;
    padding: 8px;
}

.section span {
    display: none;
}

.section > * {
    padding-right: 10px;
}

.section i {
    flex-basis: 12%;
}

@media all and (min-width:992px) {
    .section span {
        display: flex;
    }
}

 #top-bar {
    box-sizing: border-box;
}

#tote {
    max-height: calc(100vh - 100px);
}

main {
    overflow-y: hidden;
}


/* Sezione Top-Bar  */

/* Breadcrumb  */

.card-top-bar, .breadcrumb-item {
    color: white;
    text-decoration: none;
}
.card-top-bar {
    padding: 5px;
    box-sizing: border-box;
}
.labels {
    background-color: rgb(49, 49, 252);
    border-radius: 8px;
}

#add {
    padding: 12px;
    border: 1px solid white;
    border-radius: 5px;
    margin-left: 15px;
}

.none {
    display: none;
}

.breadcrumb li {
    padding-left: 8px;
}
.col-sm-12.col-md-4 nav {
    max-width: 100%;
}

#number-students {
    font-size: 32px;
    font-weight: 500;
}


@media all and (min-width:992px) {

    #nav-right {
        width:180px
    }
}

#top-bar {
    background-color: rgb(69, 69, 221);
}

@media all and (min-width:1200px) {
    .none {
        display: inline-block;
    }
    #plus {
        display: none;
    }
}

/* Sezione Table Prossime Classi  */

#title-tab {
    font-size: 30px;
}

.img-avatar {
    max-width: 25px;
}

/* Todo  */

.todo-text {
    font-size: 12px;
    line-height: 18px;
}
